img{
    height: 215px;
    width: 200px;
}
img{
    width: 300px;
    transition:
    height: 400px
}
body{
    background-color: gold;
}
a{
    color: black;
}
#bird{
    width: 100px;
    height: 100px;
}
#instagram{
    width: 100px;
    height: 100px;
}
#silk{
    width: 300px;
    height: 200px;
}
#silk:hover{
    width: 500px;
    height: 400px;
}