img{
    height: 215px;
    width: 200px;
}
body{
    background-color: gold;
}
a{
    color: black;
}
#bird{
    width: 100px;
    height: 100px;
}
#instagram{
    width: 100px;
    height: 100px;
}
