#male .active{
    background-color:#a2662a;
}



th{
    background-color: SteelBlue;
    color:white;
}
#male .inactive{
    background-color: peru;
}
#female .Inactive{
    background-color: mediumaquamarine;
}
#female .Active{
    background-color: seagreen;
}